<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <a href="/api/auth/google">
            Click here to log in with Google.
        </a>
    </body>
</html>